@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Thin.ttf');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-ThinItalic.ttf');
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-MediumItalic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Black.ttf');
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-BlackItalic.ttf');
    font-style: italic;
    font-weight: bolder;
}