body {
    background-image: url('../images/paper.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

a {
    outline: none;
    text-decoration: none;
}

a:link, :visited, :focus, :active {
    color: rgb(8, 29, 71);
}

h1,h2,h3 {
    color: rgb(8, 29, 71);
}

img.ava {
    float: right;
    margin: 0 100px 0 0;
}

div {
    color: rgb(5, 32, 32);
    font-family: Verdana, sans-serif;
    font-size: large;
    line-height: 1;
}

div.large {
    font-size: larger;
    line-height: 1.5;
}

div.title {
    font-size: inherit;
    font-weight: bold;
    line-height: 1.5;
}

div.company {
    font-size: inherit;
    font-weight: lighter;
    line-height: 1.5;
}

div.func {
    font-size: inherit;
}

ul {
    list-style-type: '▫';
    font-weight: lighter;
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

ul li {
    line-height: 1.2;
    text-indent: 15px;
}